
/*=============================================
=            ADD YOUR CUSTOM PROPERTIES       =
=============================================*/

$green : #1fd660;


$primary: $green;
$dark:#121212; 

/*=====  End of ADD YOUR CUSTOM PROPERTIES  ======*/

@import 'util/bootstrap';

/*=============================================
=     8. Add additional custom code here      =
=============================================*/

@import "util/fontawesome";

/*=====  End of 8. Add additional custom code here  ======*/

