<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/bootstrap_fontawesome.css">
    <link rel="stylesheet" href="../assets/css/spotify-sections.css">
    <link rel="icon" href="../assets/images/globals/Spotify_icon.svg.png">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>    
</head>
<body>
    <header class="spotify-header navbar py-3 bg-black px-4 row  w-100 p-0 m-0 justify-content-between align-items-center">
            <a href="#" class="spotify-header-navbar__brand navbar-brand d-none d-sm-inline d-md-none fs-1 text-white border-end border-2 pe-4">
                <i class="spotify-header-navbar__brand-icon fa-brands fa-spotify "></i> 
                <span class="spotify-header-navbar__brand-text d-none d-md-inline fw-semibold">spotify</span>
            </a>
            <nav aria-label="Page navigation" class="spotify-header-navbar__navegation d-none d-lg-block p-0 px-1 m-0" >
                <ul class="spotify-header-navbar__navegation-pagination pagination m-0">
                    <li class="spotify-header-navbar__navegation-pagination-page-item page-item">
                        <a class="spotify-header-navbar__navegation-pagination-page-link page-link rounded-end rounded-4 bg-dark text-white px-4 py-2 border-0 mx-1" href="#">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="spotify-header-navbar__navegation-pagination-page-item page-item">
                        <a class="spotify-header-navbar__navegation-pagination-page-link page-link rounded-start rounded-4 bg-dark text-white px-4 py-2 border-0 mx-1" href="#">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
              </nav>
            <form class="spotify-header-navbar__form col">
                <label class="spotify-header-navbar__form-input-group input-group ">
                    <span class="spotify-header-navbar__form-input-group-text input-group-text rounded-start-4 bg-white border-0">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="spotify-header-navbar__form-input-group-form-control form-control border-0 rounded-end-4 py-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </label>
            </form>
            <nav class="spotify-header-navbar__nav col-md-8 col-xl-6 d-none d-lg-block">
                <ul class="spotify-header-navbar__nav-list nav d-flex justify-content-evenly align-items-center">
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="#" class="spotify-header-navbar__nav-list-link">premium</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="#" class="spotify-header-navbar__nav-list-link">support</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="#" class="spotify-header-navbar__nav-list-link">download</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--btn-group btn-group-lg btn-group nav-item px-0  mx-2 border-start border-2 border-white ps-2 rounded-0 ">
                        <button class="spotify-header-navbar__nav-list-button btn btn-primary rounded-3 mx-2">Log in</button>
                        <button class="spotify-header-navbar__nav-list-button  btn rounded-pill btn-light mx-2">Sign up</button>
                    </li>
                </ul>
            </nav>                 
    </header>
    <main class="spotify-main">
        <section class="spotify-main-container pt-lg-4 px-4 row">
            <header class="spotify-main-header pt-5 px-4 px-lg-5 row m-0 bg-primary mb-2">
                <img class="spotify-main-header__img p-0 me-2"  src="https://i.scdn.co/image/ab67616d00001e0228ccaf8cb23d857cb9361ec4" alt="">
                <h1 class="spotify-main-header__title col text-capitalize  text-white py-4 lh-1">
                    <small class="spotify-main-header__title-categoria fw-bold d-block">playlist</small>
                    <span class="spotify-main-header__title-author fw-bold lh-1">peaceful piano</span>
                    <small class="spotify-main-header__title-categoria spotify-main-header__title-categoria--description fw-light d-block">Relax and indulge with beautiful piano pieces</small>
                    <a class="spotify-main-header__title-studio spotify-main-header__title-studio-link lh-1 pe-2 fw-bold" href="#"> 
                        <img class="spotify-main-header__title-studio-icon border border-1 border-black rounded-circle" src="../assets/images/globals/Spotify_icon.svg.png" alt="">
                        spotify
                    </a>
                    <span class="spotify-main-header__title-studio lh-1 spotify-main-header__title-studio--about spotify-main-header__title-studio--about-users fw-normal"> 7.000,748 likes</span>
                    <span class="spotify-main-header__title-studio lh-1 spotify-main-header__title-studio--about spotify-main-header__title-studio--about-users fw-normal"> 
                        302 sogns, 
                        <span class="spotify-main-header__title-studio spotify-main-header__title-studio---about spotify-main-header__title-studio--about-hours"> about 11hr</span>
                    </span>
                </h1>                
                <form class="spotify-main-header__controls d-flex align-items-center flex-wrap "> 
                    <button class="spotify-main-header__controls-button my-2  mx-1 border-0 p-0 ">
                        <i class="spotify-main-header__controls-button-icon spotify-main-header__controls-button-icon--play fa-solid fa-play"></i>
                    </button>
                    <button class="spotify-main-header__controls-button my-2  mx-1 border-0 p-0 border-0 spotify-main-header__controls-button ">
                        <i class="spotify-main-header__controls-button-icon spotify-main-header__controls-button-icon--love fa-regular fa-heart"></i>
                    </button>
                    <button class="spotify-main-header__controls-button my-2  mx-1 spotify-main-header__controls-button--add spotify-main-header__controls-button--add-follow text-capitalize fw-bold fs-4 border border-white border-2 px-3 py-2 mx-2 text-white rounded-pill">
                        follow
                    </button>
                    <button class="spotify-main-header__controls-button my-2  mx-1 spotify-main-header__controls-button--add text-capitalize fw-bold fs-4 border border-white border-2 px-3 py-2 mx-2 text-white rounded-pill">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div class="spotify-main-header__controls-dropdown dropdown">
                        <button class="spotify-main-header__controls-dropdown-button px-2 mx-4 fs-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="spotify-main-header__controls-dropdown-menu dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>                    
                </form>
                <div class="spotify-main-header__description pb-4 rounded-top ">
                    <ul class="spotify-main-header__description-nav nav justify-content-start mb-4">
                        <li class="spotify-main-header__description-nav-item nav-item">
                          <a class="spotify-main-header__description-nav-item-link nav-link text-capitalize fw-semibold fs-5 active" aria-current="page" href="#">decription</a>
                        </li>
                        <li class="spotify-main-header__description-nav-item nav-item">
                          <a class="spotify-main-header__description-nav-item-link nav-link text-capitalize fw-semibold fs-5" href="#">transcript</a>
                        </li>
                    </ul>                
                    <p class="spotify-main-header__description-content col-lg-10 fs-6 m-0 pb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore temporibus architecto, quibusdam, magnam distinctio, molestiae iste dolor ut similique amet iusto autem provident eos placeat esse sint eum! Sit, nam.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A consequatur impedit molestiae assumenda nobis dolores ex cumque harum quaerat mollitia? Hic blanditiis sequi at doloremque deserunt mollitia ipsum rem et.
                        <a class="spotify-main-header__description-content-more fw-semibold text-white" href="#">... see more</a>
                    </p>                                          
                    <ul class="spotify-main-header__description-options row flex-wrap p-2">
                        <li class="spotify-main-header__description-options-button px-3 py-1 rounded-pill">
                            <a class="spotify-main-header__description-options-button-link text-white   text-capitalize fw-bold" href="#">
                                see all episodes
                            </a>
                        </li>
                    </ul>
                </div>              
            </header>
            <article class="spotify-main-music row flex-wrap-reverse p-0 m-0 mt-5">
                <div class="spotify-main-music__play col-8 ">                    
                    <div class="spotify-main-music__play-card p-4">                        
                        <p class="spotify-main-music__play-card-content">
                            <img src="https://i.scdn.co/image/ab6765630000f68d1f6fddcfa5767d816721ffa5" class="float-start" alt="">
                            <small class="spotify-main-music__play-card-content-small text-capitalize">up next</small>
                            <strong class="spotify-main-music__play-card-content-title text-capitalize">la voz - mabiland</strong>
                            <span class="spotify-main-music__play-card-content-description">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto odio totam nostrum blanditiis. Sed cumque quod ea. Minima quae fugit, autem in blanditiis iure deleniti deserunt corrupti! Harum, voluptates blanditiis.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam minima amet quidem facere inventore quam praesentium quisquam ullam ipsum id voluptates est delectus non officiis blanditiis a, qui molestiae vero.
                            </span>                            
                        </p>
                        <ul class="spotify-main-music__play-card-options row flex-row p-2">
                            <li class="spotify-main-music__play-card-options-button px-3 py-1 rounded-pill">
                                <a class="spotify-main-music__play-card-options-button-link text-white   text-capitalize fw-bold" href="#">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </li>
                            <li class="spotify-main-music__play-card-options-button px-3 py-1 col">
                                april 20 · 1hr 2 min
                            </li>
                            <li class="spotify-main-music__play-card-options-button px-3 py-1 rounded-pill">
                                <a class="spotify-main-music__play-card-options-button-link text-white   text-capitalize fw-bold" href="#">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </a>
                                <a class="spotify-main-music__play-card-options-button-link text-white   text-capitalize fw-bold" href="#">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                                <a class="spotify-main-music__play-card-options-button-link text-white   text-capitalize fw-bold" href="#">
                                    <i class="fa-solid fa-share-from-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="spotify-main-music__play-list">
                        <div class="spotify-main-music__play-card spotify-main-music__play-card--playlist"></div>
                    </div>
                </div>
                <div class="spotify-main-music__about col-4">
                    <h4 class="spotify-main-music__about-title"></h4>
                    <p class="spotify-main-music__about-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi aperiam explicabo iusto impedit aliquid quibusdam harum illum, exercitationem delectus placeat odit reiciendis possimus quisquam minima, inventore molestias pariatur quas.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus, voluptate obcaecati consequuntur laudantium tempora. Corporis ab totam iste a porro provident. Odio magni maiores quaerat eius doloremque aspernatur incidunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae possimus corrupti, quos laudantium alias ipsum deleniti autem minima cum neque distinctio dolore, magnam repudiandae id, molestias beatae eveniet quibusdam perferendis!
                    </p>
                    <ul class="spotify-main-music__about-options row flex-wrap p-2">
                        <li class="spotify-main-music__about-options-button px-3 py-1 rounded-pill">
                            <a class="spotify-main-music__about-options-button-link text-white   text-capitalize fw-bold" href="#">
                                society
                            </a>
                        </li>
                        <li class="spotify-main-music__about-options-button px-3 py-1 rounded-pill">
                            <a class="spotify-main-music__about-options-button-link text-white   text-capitalize fw-bold" href="#">
                                culture
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- <article class="spotify-main-section">
                <h3 class="spotify-main-section-title text-white fw-bold fs-4 text-capitalize">
                    top podcast
                    <a class="spotify-main-section-title-link--small px-4 text-white fw-light" href="#">show all</a>
                </h3>
                <div class="spotify-main-post-office spotify-main-post-office--fit justify-content-center justify-content-lg-start">
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main-post-office__card-figure">
                            <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1f1f6fddcfa5767d816721ffa5" alt="card imagen">
                            <figcaption class="spotify-main-post-office__card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>                  
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main-post-office__card-figure">
                            <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1f1f6fddcfa5767d816721ffa5" alt="card imagen">
                            <figcaption class="spotify-main-post-office__card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>                  
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main-post-office__card-figure">
                            <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1f1f6fddcfa5767d816721ffa5" alt="card imagen">
                            <figcaption class="spotify-main-post-office__card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>                  
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main-post-office__card-figure">
                            <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1f1f6fddcfa5767d816721ffa5" alt="card imagen">
                            <figcaption class="spotify-main-post-office__card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>                  
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main-post-office__card-figure">
                            <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1f1f6fddcfa5767d816721ffa5" alt="card imagen">
                            <figcaption class="spotify-main-post-office__card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>                  
                </div>             
            </article> -->


            <!-- <article class="spotify-main-section">
                <h3 class="spotify-main-section-title text-white fw-bold fs-4 text-capitalize">
                    top podcast
                    <a class="spotify-main-section-title-link--small px-4 text-white fw-light" href="#">show all</a>
                </h3>
                <div class="spotify-main-post-office spotify-main-post-office--fit ">
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main-post-office__card-figure">
                            <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1f1f6fddcfa5767d816721ffa5" alt="card imagen">
                            <figcaption class="spotify-main-post-office__card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>                  
                </div>             
            </article>
            <article class="spotify-main-section">
                <h3 class="spotify-main-section-title text-white fw-bold fs-5 text-capitalize">
                    para aprender a meditar
                </h3>
                <div class="spotify-main-post-office spotify-main-post-office--fit ">
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <img class="spotify-main-post-office__card-img-fit" src="https://i.scdn.co/image/ab67656300005f1fca11ef4a62757b7de30bd2b0" alt="card imagen">
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div> 
                </div>             
            </article>
            <article class="spotify-main-section">
                <h3 class="spotify-main-section-title text-white fw-bold fs-5 text-capitalize">
                    Categorias
                </h3>
                <div class="spotify-main-post-office spotify-main-post-office--fit ">
                    <div class="spotify-main-post-office__card card spotify-main-post-office__card--fit rounded-3 m-2 py-3  border-0">
                        <img class="spotify-main-post-office__card-img-fit spotify-main-post-office__card-img-fit--shadow" src="https://t.scdn.co/images/7262179db37c498480ef06bfacb60310.jpeg" alt="card imagen">
                         <div class="spotify-main-post-office__card-body card-body px-0">
                            <h5 class="spotify-main-post-office__card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">meterse al rancho</h5>
                            <p class="spotify-main-post-office__card-body-author fw-semibold text-capitalize">Spotify studio</p>
                        </div>
                    </div>   
                </div>             
            </article>
            <footer class="spotify-main-footer d-flex justify-content-evenly align-items-start flex-wrap">
                <dl class="spotify-main-footer__categorias d-flex flex-column d-lg-grid col-6">
                    <dt class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start spotify-main-footer__categorias-item--title text-white fw-bold fs-5 text-capitalize my-3">
                        company
                    </dt>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">about</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">jobs</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">for the record</a>
                    </dd>
                    <dt class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle spotify-main-footer__categorias-item--title text-white fw-bold fs-5 text-capitalize my-3">
                        communities
                    </dt>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">for artists</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">developers</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">adverstising</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">vendors</a>
                    </dd>
                    <dt class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--end spotify-main-footer__categorias-item--title text-white fw-bold fs-5 text-capitalize my-3">
                        Useful links
                    </dt>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--end fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">support</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--end fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">free mobile app</a>
                    </dd>                    
                </dl>
                <ul class="spotify-main-footer__redes col-3 d-flex justify-content-evenly flex-column flex-lg-row ">
                    <li class="spotify-main-footer__redes-item rounded-pill mt-2">
                        <a href="#" class="spotify-main-footer__redes-item-link fs-3 text-black"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="spotify-main-footer__redes-item rounded-pill mt-2">
                        <a href="#" class="spotify-main-footer__redes-item-link fs-3 text-black"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="spotify-main-footer__redes-item rounded-pill mt-2">
                        <a href="#" class="spotify-main-footer__redes-item-link fs-3 text-black"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
                <h6 class="spotify-main-footer__copyright col-12 pt-3 ps-3">
                    <small class="spotify-main-footer__copyright-small">© 2023 spotify AB</small>
                </h6>
            </footer> -->
        </section>
    </main>
    <aside class="spotify-aside"></aside>
    <footer class="spotify-footer"></footer>
</body>
</html>