<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/bootstrap_fontawesome.css">
    <link rel="stylesheet" href="../assets/css/spotify-sections.css">
    <link rel="icon" href="logo1.ico">
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <header class="spotify-header navbar py-3 bg-black px-4 row  w-100 p-0 m-0 justify-content-between align-items-center">
            <a href="#" class="spotify-header-navbar__brand navbar-brand d-none d-sm-inline d-md-none fs-1 text-white border-end border-2 pe-4">
                <i class="spotify-header-navbar__brand-icon fa-brands fa-spotify "></i> 
                <span class="spotify-header-navbar__brand-text d-none d-md-inline fw-semibold">spotify</span>
            </a>
            <nav aria-label="Page navigation" class="spotify-header-navbar__navegation d-none d-lg-block p-0 px-1 m-0" >
                <ul class="spotify-header-navbar__navegation-pagination pagination m-0">
                    <li class="spotify-header-navbar__navegation-pagination-page-item page-item">
                        <a class="spotify-header-navbar__navegation-pagination-page-link page-link rounded-end rounded-5 bg-dark text-white px-4 py-2 border-0 mx-1" href="#">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="spotify-header-navbar__navegation-pagination-page-item page-item">
                        <a class="spotify-header-navbar__navegation-pagination-page-link page-link rounded-start rounded-5 bg-dark text-white px-4 py-2 border-0 mx-1" href="mostrar1.html">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
              </nav>
            <form class="spotify-header-navbar__form col">
                <label class="spotify-header-navbar__form-input-group input-group ">
                    <span class="spotify-header-navbar__form-input-group-text input-group-text rounded-start-4 bg-white border-0">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="spotify-header-navbar__form-input-group-form-control form-control border-0 rounded-end-4 py-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </label>
            </form>
            <nav class="spotify-header-navbar__nav col-md-8 col-xl-6 d-none d-lg-block">
                <ul class="spotify-header-navbar__nav-list nav d-flex justify-content-evenly align-items-center">
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="index.html" class="spotify-header-navbar__nav-list-link">home</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="contactos.html" class="spotify-header-navbar__nav-list-link">contactos</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="#" class="spotify-header-navbar__nav-list-link">support</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--link nav-item px-0 py-2 fs-5 text-capitalize ">
                        <a href="#" class="spotify-header-navbar__nav-list-link">download</a>
                    </li>
                    <li class="spotify-header-navbar__nav-list-item spotify-header-navbar__nav-list-item--btn-group btn-group-lg btn-group nav-item px-0  mx-2 border-start border-2 border-white ps-2 rounded-0 ">
                        <button class="spotify-header-navbar__nav-list-button btn btn-primary rounded-3 mx-2">Log in</button>
                        <button class="spotify-header-navbar__nav-list-button  btn rounded-pill btn-light mx-2">Sign up</button>
                    </li>
                </ul>
            </nav>                 
    </header>
    <main class="spotify-main">
       <!-- 1 fila -->
        <section class="spotify-main-browser p-4 row gy-5">
            <article class="spotify-main__section">
                <h3 class="spotify-main__section-title text-white fw-bold fs-2 text-capitalize">
                    enfoque
                    <a class="spotify-main__section-title-link--small px-4 text-white fw-light fs-5" href="mostrar1.html">Mostrar todo</a>
                </h3>
                <div class="spotify-main__cards spotify-main__cards--fit  ">
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-1 py-3   border-0 ">
                        <figure class="spotify-main__cards-card-figure">
                            <img class="spotify-main__cards-card-img-fit " src="https://i.scdn.co/image/ab67706f00000002ca5a7517156021292e5663a6" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                          
                         <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">Peaceful piano</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                Relax and indulge<br> with beautiful pian..</p>
                        </div>
                    </div>
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-1 py-3   border-0 ">
                        <figure class="spotify-main__cards-card-figure">
                            <img class="spotify-main__cards-card-img-fit " src="https://i.scdn.co/image/ab67706f000000025551996f500ba876bda73fa5" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                          
                         <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">Deep Focus</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                Keep calm and focus<br>whith ambient and...</p>
                        </div>
                    </div>
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-1 py-3   border-0 ">
                        <figure class="spotify-main__cards-card-figure">
                            <img class="spotify-main__cards-card-img-fit " src="https://i.scdn.co/image/ab67706f00000002fe24d7084be472288cd6ee6c" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                          
                         <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">Instrumental St...</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                Focus with <br> study music in the...</p>
                        </div>
                    </div>
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-1 py-3   border-0 ">
                        <figure class="spotify-main__cards-card-figure">
                            <img class="spotify-main__cards-card-img-fit " src="https://i.scdn.co/image/ab67706f00000002724554ed6bed6f051d9b0bfc" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                          
                         <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">Focus Flow</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                Uptempo <br>instrumental hip h..</p>
                        </div>
                    </div>
                    
                </div>             
            </article>
            <article class="spotify-main__section">
                <!-- 2 fila -->
                <h3 class="spotify-main__section-title text-white fw-bold fs-3 text-capitalize">
                   Playlists de Spotify
                   <a class="spotify-main__section-title-link--small px-4 text-white fw-light fs-5" href="mostrar2.html">Mostrar todo</a>
                </h3>
                <div class="spotify-main__cards spotify-main__cards--fit ">
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main__cards-card-figure"> 
                            <img class="spotify-main__cards-card-img-fit" src="https://i.scdn.co/image/ab67706f0000000283829f7cdd2443271b6a6ec2" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                        
                        
                        <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">Today's Top Hits</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                Post Malone is on <br> top of the hottest </p>
                        </div>
                    </div> 
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main__cards-card-figure"> 
                            <img class="spotify-main__cards-card-img-fit" src="https://i.scdn.co/image/ab67706f0000000297037047894ce6c9d8e2efc2" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                        
                        
                        <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">RapCaviar</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                New music from <br> NLE Choppa,ice.. </p>
                        </div>
                    </div> 
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main__cards-card-figure"> 
                            <img class="spotify-main__cards-card-img-fit" src="https://i.scdn.co/image/ab67706f00000002b0fe40a6e1692822f5a9d8f1" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                  

                        <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">All Out 2010s</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                The biggest songs of <br>the 2010s.</p>
                        </div>
                    </div>
                    <div class="spotify-main__cards-card card spotify-main__cards-card--fit rounded-3 m-2 py-3  border-0">
                        <figure class="spotify-main__cards-card-figure"> 
                            <img class="spotify-main__cards-card-img-fit" src="https://i.scdn.co/image/ab67706f0000000278b4745cb9ce8ffe32daaf7e" alt="card imagen">
                            <figcaption class="spotify-main__cards-card-figure-caption rounded-pill">
                                <i class="fa-solid fa-play"></i>
                            </figcaption>
                        </figure>
                        
                    
                        <div class="spotify-main__cards-card-body card-body px-0">
                            <h5 class="spotify-main__cards-card-body-title card-title fs-6 fw-bold m-0 text-white text-capitalize">Rock classics</h5>
                            <p class="spotify-main__cards-card-body-author fw-semibold text-capitalize">
                                Rock legends & epic <br> songs that continu.. </p>
                        </div>
                    </div>
                </div>
                
                    
            
                             
            </article>
            
            <footer class="spotify-main-footer d-flex justify-content-evenly align-items-start flex-wrap">
                <dl class="spotify-main-footer__categorias d-flex flex-column d-lg-grid col-6">
                    <dt class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start spotify-main-footer__categorias-item--title text-white fw-bold fs-3 text-capitalize my-3">
                        company
                    </dt>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">about</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">jobs</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--start fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">for the record</a>
                    </dd>
                    <dt class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle spotify-main-footer__categorias-item--title text-white fw-bold fs-3 text-capitalize my-3">
                        communities
                    </dt>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">for artists</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">developers</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">adverstising</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--middle fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">vendors</a>
                    </dd>
                    <dt class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--end spotify-main-footer__categorias-item--title text-white fw-bold fs-3 text-capitalize my-3">
                        Useful links
                    </dt>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--end fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">support</a>
                    </dd>
                    <dd class="spotify-main-footer__categorias-item spotify-main-footer__categorias-item--end fw-semibold fs-6 text-capitalize m-0 mb-1">
                        <a href="#" class="spotify-main-footer__categorias-item-link">free mobile app</a>
                    </dd>                    
                </dl>
                <ul class="spotify-main-footer__redes col-3 d-flex justify-content-evenly flex-column flex-lg-row ">
                    <li class="spotify-main-footer__redes-item rounded-pill mt-2">
                        <a href="" class="spotify-main-footer__redes-item-link fs-3 text-black"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="spotify-main-footer__redes-item rounded-pill mt-2">
                        <a href="https://twitter.com/Spotify" class="spotify-main-footer__redes-item-link fs-3 text-black"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="spotify-main-footer__redes-item rounded-pill mt-2">
                        <a href="https://www.facebook.com/SpotifyColombia/?brand_redir=6243987495&locale=es_LA" class="spotify-main-footer__redes-item-link fs-3 text-black"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
                <h6 class="spotify-main-footer__copyright col-12 pt-3 ps-3">
                    <small class="spotify-main-footer__copyright-small">© 2023 spotify AB</small>
                </h6>
            </footer>
        </section>
    </main>
    <aside class="spotify-aside"></aside>
    <footer class="spotify-footer"></footer>
</body>
</html>