<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/882ff66ae7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="Spotify-logo-removebg-preview.png" class="logo-s">
    </header>
    <hr style="position: relative; top: 75px;">
    <button class="facebook">
        <i class="fa-brands fa-facebook fa-lg logo-f"></i>
        <p>Continuar con Facebook</p>
    </button>
    <button class="apple">
        <i class="fa-brands fa-apple fa-lg logo-a"></i>
        <p>Continuar con Apple</p>
    </button>
    <button class="google">
        <img src="2000px-Google_G_Logo.svg_.png" alt="google" class="logo-g">
        <p>Continuar con Google</p>
    </button>
    <button class="telefono">
        <p>Continuar con numero de telefono</p>
    </button>
    <p class="so"><sup>_______________________</sup> o <sup>_______________________</sup></p>
    <div class="la/otra/opcion">

        <strong class="ceondu">Correo electronico o nombre de usuario</strong>
        <textarea name="correo electronico" id="correo-electronico" class="texc" cols="40" rows="1" placeholder="Correo electronico o nombre de usuario"></textarea>
        
        <strong class="c">Contraseña</strong>
        <input type="password" placeholder="Contraseña" class="contraseña" id="Contraseña">
    </div>
    <div class="otros">
        <p>
            <u><a href="">¿Has olvidado tu contraseña?</a></u>
        </p>
        <div class="recormember">
            <input class="remember" type="checkbox" checked> 
            <p class="remember">Recordarme</p>
        </div>
        <button type="submit" class="submit">
            <strong>Iniciar secion</strong>
        </button>
        <hr class="w337px">
        <strong class="ntc">¿No tienes cuenta?</strong>
        <button class="REGISTRATE">REGISTRATE EN SPOTIFY</button>
    </div>
</body>
</html>