@charset "UTF-8";
/*----------  CARDS   ----------*/
/* 
IMG{
    altura x ancho
    -xxl:   13rem
    -xl:    12.rem
    -lg:    10.9rem
    -md:    8rem
    -sm:    4rem   
    -xs:    2.5rem
}

CARDS{
    altura    
    -xxl:    18.625rem
    -xl:    15.2rem
    -lg:    10.75rem
    -md:    7.8rem
    -sm:    5.5rem
    -xs:    3.5rem
    anchura
    -xxl:    100%
    -xl:    
    -lg:    10.75rem
    -md:    7.8rem
    -sm:    5.5rem
    -xs:    3.5rem
FONT{
    -xl:    clamp(3rem, calc(4rem + 3vw), 8rem)
    -sm:    clamp(.85rem, calc(.8rem + 1vw), 1.5rem)
}
*/
:root {
  --spotify-font-xl: clamp(2rem, 3rem + 3vw, 8rem);
  --spotify-font-lg: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  --spotify-font-md: clamp(0.95rem, 0.95rem + 1vw, 2rem);
  --spotify-font-xs: clamp(0.7rem, 0.7rem + 1vw, 1rem);
}

:root {
  --spotify-gray-main: #121212;
  --spotify-gray-text: #959595;
  --spotify-white-text: hsla(0, 0%, 100%, 0.7);
  --spotify-gray-card: #181818;
  --spotify-gray-card-light: linear-gradient(transparent -10%, #282828 80%, #181818);
  --spotify-gray-card-active: #282828;
  --spotify-gray-card-semiwhite: hsla(0, 0%, 100%, 0.1);
}

:root {
  --spotify-card-img-xl: 14.5rem;
  --spotify-card-img-lg: 12rem;
  --spotify-card-img-md: 9.25rem;
  --spotify-card-img-sm: 7rem;
  --spotify-card-img-xs: 2.5rem;
}

:root {
  --spotify-card-height-xxl: 18.625rem;
  --spotify-card-height-xl: 15.2rem;
  --spotify-card-height-lg: 10.75rem;
  --spotify-card-height-md: 7.8rem;
  --spotify-card-height-sm: 5.5rem;
  --spotify-card-height-xs: 3.5rem;
}

/*----------  COLORS  ----------*/
/*----------  TYPOGRAPHY  ----------*/
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "aside header header header" "aside main main main" "aside main main main" "aside main main main" "aside main main main" "aside footer footer footer";
  grid-template-rows: auto repeat(4, 1fr) auto;
  grid-template-columns: auto repeat(3, 1fr);
  overflow-x: hidden;
}

.spotify {
  /*----------  MAIN GLOBALS  ----------*/
}
.spotify-header {
  grid-area: header;
}
.spotify-header .spotify-header-navbar__brand {
  width: -moz-fit-content;
  width: fit-content;
}
.spotify-header .spotify-header-navbar__menu {
  width: -moz-fit-content;
  width: fit-content;
}
.spotify-header .spotify-header-navbar__nav-list-item--link {
  transition: transform 0.3s;
}
.spotify-header .spotify-header-navbar__nav-list-item--link:hover {
  transform: scale(1.1);
}
.spotify-header .spotify-header-navbar__nav-list-item--link:hover .spotify-header-navbar__nav-list-link {
  color: var(--bs-white);
}
.spotify-header .spotify-header-navbar__nav-list-item--user-icon {
  height: 2rem;
  width: 2rem;
}
.spotify-header .spotify-header-navbar__nav-list-item--user-button {
  border: none;
  background: transparent;
  color: var(--spotify-white-text);
  display: flex;
  align-items: center;
}
.spotify-header .spotify-header-navbar__nav-list-item--user-button::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 0.4rem solid transparent;
  border-top: 0.7rem solid var(--bs-white);
  border-left: 0.4rem solid transparent;
  -webkit-margin-start: 0.1rem;
          margin-inline-start: 0.1rem;
}
.spotify-header .spotify-header-navbar__nav-list-item--user-button:hover {
  color: var(--bs-white);
  text-decoration: underline;
}
.spotify-header .spotify-header-navbar__nav-list-link {
  text-decoration: none;
  color: var(--spotify-gray-text);
}
.spotify-header .spotify-header-navbar__form-input-group-form-control::-moz-placeholder {
  color: var(--bs-primary);
  font-weight: bold;
}
.spotify-header .spotify-header-navbar__form-input-group-form-control::placeholder {
  color: var(--bs-primary);
  font-weight: bold;
}
.spotify-header .spotify-header-navbar__form-input-group-form-control:focus {
  box-shadow: 0 0 0 0 #000;
}
.spotify-header .spotify-header-navbar__navegation-pagination .active {
  background: var(--bs-white) !important;
  color: var(--bs-black) !important;
}
.spotify-main {
  grid-area: main;
  background: var(--spotify-gray-main);
}
.spotify-main-post-office--expand {
  display: flex;
  flex-wrap: wrap;
}
.spotify-main-post-office--fit {
  display: grid;
  align-items: end;
  justify-items: center;
  overflow-y: hidden;
  grid-template-columns: repeat(auto-fit, minmax(10.2rem, 12rem));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-rows: var(--spotify-card-height-xxl);
  grid-auto-rows: 0px;
}
.spotify-main-post-office__card {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  max-width: 12.5rem;
  min-width: 12.5rem;
}
.spotify-main-post-office__card--expand {
  height: 12rem;
  max-width: 100%;
}
.spotify-main-post-office__card--fit {
  width: 100%;
  background: var(--spotify-gray-card);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
.spotify-main-post-office__card--fit:hover, .spotify-main-post-office__card--fit:active {
  background: var(--spotify-gray-card-active);
}
.spotify-main-post-office__card--fit:hover figure figcaption, .spotify-main-post-office__card--fit:active figure figcaption {
  opacity: 1;
  bottom: 0.4rem;
}
.spotify-main-post-office__card--lg {
  max-width: 100%;
}
.spotify-main-post-office__card-figure {
  overflow-y: hidden;
  position: relative;
}
.spotify-main-post-office__card-figure-caption {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bs-primary);
  right: 0.4rem;
  bottom: -3.2rem;
  opacity: 0;
  transition: all 0.3s;
}
.spotify-main-post-office__card-figure-caption:hover, .spotify-main-post-office__card-figure-caption:active {
  transform: scale(1.1);
}
.spotify-main-post-office__card-figure-caption--lg {
  right: 2rem;
  bottom: -3.2rem;
}
.spotify-main-post-office__card-figure--lg {
  height: 10rem;
}
.spotify-main-post-office__card-img-small {
  height: 6.25rem;
  width: 6.25rem;
  position: absolute;
  right: -1.2rem;
  bottom: -0.2rem;
  transform: rotate(25deg);
}
.spotify-main-post-office__card-img-fit {
  height: 9.25rem;
  width: 9.25rem;
}
.spotify-main-post-office__card-img-fit--shadow {
  box-shadow: 0 0 0.9rem 0.2rem rgba(0, 0, 0, 0.8);
}
.spotify-main-post-office__card-img-default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--spotify-font-lg) + 5rem);
  color: var(--spotify-white-text);
}
.spotify-main-post-office__card-body-title, .spotify-main-post-office__card-body-author {
  display: inline-block;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.spotify-main-post-office__card-body-title--expand {
  display: inline-block;
  overflow: visible;
}
.spotify-main-post-office__card-body-title--lg {
  font-size: calc(var(--spotify-font-lg) + 1rem) !important;
}
.spotify-main-post-office__card-body-author {
  font-size: 1rem;
  color: var(--spotify-gray-text);
}
.spotify-main-post-office__card-body-author--lg {
  font-size: calc(var(--spotify-font-md) + 0.2rem) !important;
}
.spotify-main-post-office__card-body--lg {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.spotify-main-iframe {
  margin-bottom: 0.5rem;
  position: relative;
  width: 75%;
  max-width: 60rem;
  height: 7rem;
  min-width: 16.3rem;
  background: transparent;
  border-radius: 1rem;
  overflow-y: hidden;
  z-index: 2;
}
.spotify-main-iframe::after {
  content: "";
  z-index: -100;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: var(--spotify-gray-main); */
}
.spotify-main-iframe:hover {
  border-color: var(--spotify-gray-card);
  border-bottom-width: 0.9rem;
  border-left-width: 0.9rem;
  border-right-width: 0.1rem;
  border-top-width: 0.2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}
.spotify-main-iframe iframe {
  position: relative;
}
.spotify-main-section-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.spotify-main-section-title-link--small {
  text-decoration: none;
  font-size: 0.9rem;
}
.spotify-main-section-title-link--small:hover, .spotify-main-section-title-link--small:active {
  text-decoration: underline;
}
.spotify-main-header {
  min-height: 21.25rem;
  position: relative;
  z-index: 1;
}
.spotify-main-header::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%, var(--spotify-gray-main));
}
.spotify-main-header__img, .spotify-main-header__title, .spotify-main-header__controls, .spotify-main-header__description {
  z-index: 200;
  background: transparent;
}
.spotify-main-header__description--solid {
  transition: transform 0.5s;
}
.spotify-main-header__description--solid:hover {
  border-bottom-width: 0.9rem;
  border-left-width: 0.9rem;
  border-right-width: 0.1rem;
  border-top-width: 0.2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}
.spotify-main-header__img {
  height: var(--spotify-card-img-xl);
  width: var(--spotify-card-img-xl);
  box-shadow: 0 0 0.9rem 0.2rem rgba(0, 0, 0, 0.8);
}
.spotify-main-header__img--default {
  background: var(--spotify-gray-text);
  font-size: calc(var(--spotify-font-lg) + 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.spotify-main-header__img--default-love {
  font-size: calc(var(--spotify-font-lg) + 9rem);
  background: linear-gradient(135deg, #450af5, #c4efd9 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-white);
}
.spotify-main-header__img--default .fa-pencil {
  display: none;
}
.spotify-main-header__img--default .fa-pencil::after {
  content: "Choose photo";
  display: block;
  font-size: calc(var(--spotify-font-xs) + 0.4rem);
}
.spotify-main-header__img--default:hover .fa-music {
  display: none;
}
.spotify-main-header__img--default:hover .fa-pencil {
  display: block;
}
.spotify-main-header__title-categoria, .spotify-main-header__title-studio {
  font-size: var(--spotify-font-xs);
}
.spotify-main-header__title-studio {
  line-height: 0.5rem;
}
.spotify-main-header__title-studio--about-users::before {
  content: "·";
}
.spotify-main-header__title-studio--about-hours {
  color: var(--spotify-white-text);
}
.spotify-main-header__title-studio-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.spotify-main-header__title-studio-link {
  color: var(--bs-white);
  text-decoration: none;
}
.spotify-main-header__title-studio-link:hover, .spotify-main-header__title-studio-link:active {
  text-decoration: underline;
}
.spotify-main-header__title-categoria--description, .spotify-main-header__title-studio-about-hours {
  color: var(--spotify-white-text);
}
.spotify-main-header__title-author {
  font-size: var(--spotify-font-xl);
}
.spotify-main-header__controls-button {
  width: -moz-fit-content;
  width: fit-content;
  background: transparent;
  position: relative;
  min-height: 4rem;
  min-width: 4rem;
}
.spotify-main-header__controls-button-icon {
  height: 4rem;
  width: 4rem;
  font-size: var(--spotify-font-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.spotify-main-header__controls-button-icon--love {
  position: absolute;
  top: 0;
}
.spotify-main-header__controls-button-icon--love:hover, .spotify-main-header__controls-button-icon--love:active {
  animation: corazon 0.9s alternate ease infinite;
}
.spotify-main-header__controls-button-icon:hover, .spotify-main-header__controls-button-icon:active {
  color: var(--bs-danger);
}
.spotify-main-header__controls-button-icon:hover::after, .spotify-main-header__controls-button-icon:active::after {
  opacity: 1;
}
.spotify-main-header__controls-button-icon::after {
  content: "";
  opacity: 0;
  background: var(--bs-white);
  height: 70%;
  width: 65%;
  position: absolute;
  top: 0.8rem;
  left: 0.7rem;
  z-index: -10;
  border-radius: 3rem 4rem 2rem 8rem;
  transform: rotate(90deg);
  transition: opacity 0.5s;
}
.spotify-main-header__controls-button--add {
  transition: background 0.4s;
  min-width: 4rem;
  width: -moz-fit-content;
  width: fit-content;
}
.spotify-main-header__controls-button--add-follow {
  min-width: 6.8rem;
}
.spotify-main-header__controls-button--add:hover, .spotify-main-header__controls-button--add:active {
  background: var(--spotify-gray-card-active);
}
.spotify-main-header__controls-dropdown-button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
}
.spotify-main-header__controls-dropdown-button:hover, .spotify-main-header__controls-dropdown-button:active {
  color: var(--bs-white);
}
.spotify-main-header__controls-dropdown-button::after {
  content: "";
  border: none;
  position: absolute;
}
.spotify-main-header__controls-search-close {
  color: var(--spotify-white-text);
}
.spotify-main-header__controls-search-close:hover {
  color: var(--bs-white);
}
.spotify-main-header__controls-search-label {
  background: var(--spotify-gray-card-semiwhite);
}
.spotify-main-header__controls-search-label-input, .spotify-main-header__controls-search-label-text {
  color: var(--spotify-white-text);
  background: transparent;
  font-size: calc(var(--spotify-font-xs) + 0.8rem);
}
.spotify-main-header__controls-search-label-input {
  transition: background 0.3s;
}
.spotify-main-header__controls-search-label-input:focus {
  background: var(--spotify-gray-card-active);
  box-shadow: 0 0 0 0 #000;
  color: var(--bs-white);
}
.spotify-main-header__controls-search-label-input:focus::-moz-placeholder {
  color: var(--bs-white);
}
.spotify-main-header__controls-search-label-input:focus::placeholder {
  color: var(--bs-white);
}
.spotify-main-header__description {
  background: var(--spotify-gray-card-light);
}
.spotify-main-header__description-nav-item {
  position: relative;
}
.spotify-main-header__description-nav-item-link {
  color: var(--spotify-gray-text);
}
.spotify-main-header__description-nav-item-link:hover, .spotify-main-header__description-nav-item-link:active {
  color: var(--bs-white);
}
.spotify-main-header__description-nav-item-link.active {
  color: var(--bs-white);
}
.spotify-main-header__description-nav-item-link.active::before {
  opacity: 1;
}
.spotify-main-header__description-nav-item-link::before {
  content: "";
  position: absolute;
  background: var(--bs-primary);
  bottom: 0;
  width: 30%;
  height: 4px;
  left: 35%;
  opacity: 0;
}
.spotify-main-header__description-content {
  color: var(--spotify-white-text);
}
.spotify-main-header__description-content-more {
  text-decoration: none;
}
.spotify-main-header__description-options {
  list-style: none;
}
.spotify-main-header__description-options-button {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 0.2rem var(--spotify-white-text);
  transition: transform 0.2s, border 0.2s;
  transition-timing-function: ease;
}
.spotify-main-header__description-options-button:hover, .spotify-main-header__description-options-button:active {
  border: solid 0.3rem var(--bs-white);
  transform: scale(1.1);
}
.spotify-main-header__description-options-button-link {
  text-decoration: none;
}
.spotify-main-music-liked {
  height: 40rem;
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
  box-shadow: 0.3rem 0.7rem 0.9rem 0.2rem rgba(0, 0, 0, 0.8);
}
.spotify-main-music-liked-description-button {
  text-decoration: none;
  background: white;
  height: 5rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-inline: auto;
  color: var(--bs-black);
  transition: background 0.25s, transform 0.4s;
}
.spotify-main-music-liked-description-button:hover {
  transform: scale(1.06);
  background: var(--spotify-gray-card-semiwhite);
  color: var(--bs-white);
}
.spotify-main-music__play-card {
  background: var(--spotify-gray-card-light);
  display: flex;
  flex-wrap: wrap;
}
.spotify-main-music__play-card:hover .spotify-main-music__play-card-options-button--hidden, .spotify-main-music__play-card:active .spotify-main-music__play-card-options-button--hidden {
  transform: scale(1);
}
.spotify-main-music__play-card-content-img {
  height: var(--spotify-card-img-sm);
  width: var(--spotify-card-img-sm);
}
.spotify-main-music__play-card-content-img--lg {
  height: calc(var(--spotify-card-img-md) + 0.99rem);
  width: var(--spotify-card-img-lg);
}
.spotify-main-music__play-card-content-picture {
  width: -moz-fit-content;
  width: fit-content;
}
.spotify-main-music__play-card-content-small, .spotify-main-music__play-card-content-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--spotify-font-xs);
  color: var(--spotify-white-text);
}
.spotify-main-music__play-card-content-description--short {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.spotify-main-music__play-card-content-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}
.spotify-main-music__play-card-content-title::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
  border-radius: 5rem;
  background: var(--bs-info);
}
.spotify-main-music__play-card-options {
  list-style: none;
  position: relative;
}
.spotify-main-music__play-card-options-hours {
  color: var(--spotify-gray-text);
  width: -moz-fit-content;
  width: fit-content;
}
.spotify-main-music__play-card-options-button {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
.spotify-main-music__play-card-options-button-link {
  color: var(--spotify-white-text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: var(--spotify-card-img-xs);
  width: var(--spotify-card-img-xs);
  font-size: var(--spotify-font-md);
}
.spotify-main-music__play-card-options-button-link:hover, .spotify-main-music__play-card-options-button-link:active {
  color: var(--bs-primary);
}
.spotify-main-music__play-card-options-button-link--play {
  height: calc(var(--spotify-card-img-xs) + 0.6rem);
  width: calc(var(--spotify-card-img-xs) + 0.6rem);
  background: var(--bs-primary);
  font-size: var(--spotify-font-sm);
  transition: transform 0.1s;
}
.spotify-main-music__play-card-options-button-link--play:hover {
  transform: scale(1.2);
}
.spotify-main-music__play-card-options-button--hidden {
  transform: scale(0);
  transition: transform 0.2s;
  background: var(--spotify-gray-card-active);
  box-shadow: 0 0 0.8rem 0.4rem rgba(24, 24, 24, 0.6);
}
.spotify-main-music__play-card--list {
  background: transparent;
  transition: background 0.2s;
}
.spotify-main-music__play-card--list .spotify-main-music__play-card-content-small, .spotify-main-music__play-card--list .spotify-main-music__play-card-content-description {
  font-size: calc(var(--spotify-font-xs) - 0.1rem);
  color: var(--spotify-white-text);
}
.spotify-main-music__play-card--list:hover {
  background: var(--spotify-gray-card-active);
  border-color: var(--spotify-gray-card);
  border-bottom-width: 0.9rem;
  border-left-width: 0.9rem;
  border-right-width: 0.1rem;
  border-top-width: 0.2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}
.spotify-main-music__play-card--solid {
  background: transparent;
}
.spotify-main-music__about {
  min-width: 20rem;
}
.spotify-main-music__about-title {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--bs-white);
}
.spotify-main-music__about-see {
  text-decoration: none;
  color: var(--bs-white);
  text-transform: capitalize;
}
.spotify-main-music__about-see:hover {
  color: var(--bs-primary);
}
.spotify-main-music__about-see:target {
  opacity: 0;
}
.spotify-main-music__about-description {
  margin-bottom: 0.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--spotify-font-xs);
  color: var(--spotify-white-text);
}
.spotify-main-music__about-description:target {
  display: block;
}
.spotify-main-music__about-options {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.spotify-main-music__about-options-button {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--spotify-gray-card);
}
.spotify-main-music__about-options-button-link {
  font-size: calc(var(--spotify-font-MS) - 0.4rem);
  text-decoration: none;
}
.spotify-main-music__about-options-button:hover {
  background: var(--spotify-gray-card-active);
}
.spotify-main-footer__categorias {
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, 1fr);
}
.spotify-main-footer__categorias-item--start {
  grid-column-start: 1;
}
.spotify-main-footer__categorias-item--end {
  grid-column-start: 3;
}
.spotify-main-footer__categorias-item--middle {
  grid-column-start: 2;
}
.spotify-main-footer__categorias-item-link {
  color: var(--spotify-gray-text);
  text-decoration: none;
}
.spotify-main-footer__categorias-item-link:hover, .spotify-main-footer__categorias-item-link:active {
  color: var(--bs-white);
}
.spotify-main-footer__redes {
  list-style: none;
}
.spotify-main-footer__redes-item {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bs-white);
}
.spotify-main-footer__redes-item:hover, .spotify-main-footer__redes-item:active {
  background: var(--spotify-gray-text);
}
.spotify-main-footer__copyright {
  color: var(--spotify-gray-text);
  border-top: 0.05rem solid var(--spotify-gray-text);
  font-size: 0.95rem;
}
.spotify-footer {
  grid-area: footer;
}
.spotify-aside {
  display: none;
  grid-area: aside;
  background: var(--bs-black);
  width: 100vw;
}
.spotify-aside-close {
  position: fixed;
  top: 0;
  right: 0;
  font-size: var(--spotify-font-lg);
  text-decoration: none;
  background: var(--bs-white);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2rem 0 0 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 0.5rem var(--bs-white);
  z-index: 1600;
}
.spotify-aside-close:hover {
  background: var(--spotify-white-text);
}
.spotify-aside:target {
  display: block;
  z-index: 1500;
  position: fixed;
}
.spotify-aside::before {
  content: "";
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: -10;
  background: var(--spotify-gray-main);
  opacity: 0.8;
  filter: blur(1rem);
  left: 0;
  top: 0;
}
.spotify-aside__container {
  position: sticky;
  min-height: 40rem;
  top: 0px;
  height: 100vh;
  z-index: 1000;
}
.spotify-aside__logo {
  display: block;
  height: -moz-min-content;
  height: min-content;
  color: var(--bs-white);
}
.spotify-aside__logo svg {
  height: 3rem;
}
.spotify-aside__nav {
  overflow-y: auto;
  height: 75vh;
}
.spotify-aside__nav-main {
  list-style: none;
}
.spotify-aside__nav-main-item-link {
  text-decoration: none;
  color: var(--spotify-white-text);
}
.spotify-aside__nav-main-item:hover .spotify-aside-nav-main-item-link, .spotify-aside__nav-main-item .active {
  color: var(--bs-white);
}
.spotify-aside__nav-options--playlist {
  list-style: none;
}
.spotify-aside__nav-options--playlist .page-link {
  border-left: 0.2rem solid var(--bs-white) !important;
  margin-block: 0.25rem;
}
.spotify-aside__nav-options--playlist .active {
  background: var(--bs-white) !important;
  border: none;
  color: var(--bs-black) !important;
}
.spotify-aside__nav-options-button {
  text-decoration: none;
  background: transparent;
  color: var(--spotify-white-text);
  display: flex;
  align-items: center;
}
.spotify-aside__nav-options-button-icon {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spotify-aside__nav-options-button-icon--add {
  background: var(--spotify-gray-text);
  color: var(--bs-black);
}
.spotify-aside__nav-options-button-icon--love {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}
.spotify-aside__nav-legal {
  max-width: 18rem;
  margin-top: 5rem;
}
.spotify-aside__nav-legal-links-item {
  text-decoration: none;
  color: var(--spotify-white-text);
}
.spotify-aside__nav-legal-links-item:hover {
  color: var(--bs-white);
}
.spotify-aside__nav-legal-button {
  background: transparent;
  transition: transform 0.3s;
}
.spotify-aside__nav-legal-button:hover {
  transform: scale(1.05);
}

/* #spotify-header-aside{
    display: none;
} */
/*----------  ANIMATIONS  ----------*/
@keyframes corazon {
  0% {
    font-size: 3rem;
  }
  100% {
    font-size: 4rem;
  }
}
/*=============================================
=            medias                           =
=============================================*/
/**
grid-breakpoints:
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/
@media (min-width: 768px) {
  #spotifyAsideHeader {
    width: auto;
  }
  #spotifyAsideHeader:target {
    position: sticky;
  }
  #spotifyAsideHeader:target::before {
    display: block;
    position: fixed;
  }
}
@media (min-width: 992px) {
  #spotifyAsideHeader {
    width: auto;
    display: block;
  }
}
/*=====  End of medias  ======*/
/*=============================================
=            HEADER            =
=============================================*/
.spotify-header-navbar__nav-list-item--link {
  transition: transform 0.3s;
}
.spotify-header-navbar__nav-list-item--link:hover {
  transform: scale(1.1);
}
.spotify-header-navbar__nav-list-item--link:hover .spotify-header-navbar__nav-list-link {
  color: var(--bs-white);
}
.spotify-header-navbar__nav-list-link {
  text-decoration: none;
  color: var(--spotify-gray-text);
}
.spotify-header-navbar__form-input-group-form-control::-moz-placeholder {
  color: var(--bs-primary);
  font-weight: bold;
}
.spotify-header-navbar__form-input-group-form-control::placeholder {
  color: var(--bs-primary);
  font-weight: bold;
}
.spotify-header-navbar__form-input-group-form-control:focus {
  box-shadow: 0 0 0 0 #000;
}

/*=====  End of HEADER  ======*/
/*=============================================
=            HEADER OFFCANVAS            =
=============================================*/
.spotify-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.spotify-header-navbar__navegation {
  width: -moz-fit-content;
  width: fit-content;
}

/*=====  End of HEADER OFFCANVAS  ======*/
/*=============================================
=            MAIN BROWSER            =
=============================================*/
/*=====  End of MAIN BROWSER  ======*/
/*=============================================
=            MAIN TOP            =
=============================================*/
/*=====  End of MAIN TOP  ======*//*# sourceMappingURL=spotify-sections.css.map */