*,*::after,*::before{
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    width: 100vw;    
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "aside header header header"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside footer footer footer"
    ;
    grid-template-rows: auto repeat(4,1fr) auto;
    grid-template-columns: auto repeat(3,1fr); 

    overflow-x: hidden;      
   
}

.spotify{
    &-header{grid-area: header}
    /*----------  MAIN GLOBALS  ----------*/
    &-main{
        grid-area: main;
        background: var(--spotify-gray-main);        
        //post Office
        &-post-office{  
            
            display: grid;
            align-items: end;
            justify-items: center;
            overflow-y: hidden;
            grid-template-columns: repeat(auto-fit,minmax(10.2rem,12rem));            
            
            &--fit{
                column-gap: 1rem;               
                grid-template-rows: var(--spotify-card-height-xxl);
                grid-auto-rows: 0px;
        
            }
            
            &__card{                
                overflow-x: hidden;
                overflow-y: hidden;
                position: relative;
                max-width: 12.5rem;    
                width: 100%;            
                &--fit{
                    background: var(--spotify-gray-card);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background .3s ;
                    &:hover{
                        background: var(--spotify-gray-card-active);
                    }
                    &:hover figure figcaption{
                        opacity: 1;
                        bottom: .4rem;
                    }
                }
        
                &-figure{
                    overflow-y: hidden;            
                    position: relative;
                    &-caption{   
                        position: absolute;
                        width: 3.2rem;
                        height: 3.2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--bs-primary);             
                        right: .4rem;
                        bottom: -3.2rem;
                        opacity: 0;
                        transition: all .3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
        
                &-img-small{
                    height: 6.25rem;
                    width: 6.25rem;
                    position: absolute;
                    right: -1.2rem;
                    bottom: -.2rem;
                    transform: rotate(25deg);
                }   
                &-img-fit{
                    height: 9.25rem;
                    width: 9.25rem;                                    
                    &--shadow{
                        box-shadow:0 0 .9rem .2rem rgba(0, 0, 0, 0.8)
                    }
                }   
                
                &-body{
                    &-author{
                        font-size: 1rem;
                        color:var(--spotify-gray-text);
                    }
                }
            }
        }
        //section
        &-section{ 
            &--header{
                
            }           
            &-title{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                &-link--small{
                    text-decoration: none;
                    font-size: .9rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        //header
        &-header{
            min-height: 21.25rem;
            &__img{
                height: var(--spotify-card-img-xl);
                width: var(--spotify-card-img-xl);
                box-shadow:0 0 .9rem .2rem rgba(0, 0, 0, 0.8);
            }
            &__title{
                &-categoria, &-studio{
                    font-size: var(--spotify-font-xs);
                }

                &-studio{
                    line-height: .5rem;
                    &--about{
                        &-users::before{
                            content: "·";
                        }

                        &-hours{
                            color: var(--spotify-white-text);        
                        }                        
                    }
                    &-icon{
                        height:1.5rem;
                        width: 1.5rem;
                    }
                    &-link{
                        color: var(--bs-white);
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                
                &-categoria--description,&-studio-about-hours{
                    color: var(--spotify-white-text);
                }
               
                &-author{                   
                    font-size: var(--spotify-font-xl) ;
                }

                
                
            }

            &-controls{
                &-button{                    
                    width: fit-content;
                    background: transparent;
                    position: relative;
                    min-height: 4rem;
                    min-width: 4rem;
                    &-icon{
                        height: 4rem;
                        width: 4rem;
                        font-size: var(--spotify-font-md);        
                        display: flex;
                        align-items: center;
                        justify-content: center;      
                        position: relative;                        
                        z-index: 1;

                        &--love{
                            position: absolute;
                            top: 0;
                            &:hover{
                                animation:corazon .9s alternate ease infinite;
                            }   
                        }

                        &:hover{
                            color: var(--bs-danger);
                        }
                        
                        &:hover::after{
                            opacity: 1;
                        }                        
                        &::after{
                            content: "";
                            opacity: 0;
                            background: var(--bs-white);
                            height: 70%;
                            width: 65%;
                            position: absolute;
                            top: .8rem;
                            left: .7rem;
                            z-index: -10;
                            border-radius: 3rem 4rem 2rem 8rem ;
                            transform: rotate(90deg);                            
                            transition: opacity .5s;
                        }
                    }

                    
                    &--follow{
                        transition: background 1s;
                        &:hover{
                            background: var(--spotify-gray-card-active);

                        }
                    }
                }
                &-dropdown{

                }
            }
        }
        //footer
        &-footer{
            &__categorias{
                grid-auto-flow: dense;
                grid-template-columns: repeat(3,1fr);
                &-item{
                    &--start{
                        grid-column-start: 1;
                    }
                    &--end{
                        grid-column-start: 3;
                    }
                    &--middle{
                        grid-column-start: 2;
                    }
                    &-link{
                        color: var(--spotify-gray-text);
                        text-decoration: none;  
                        &:hover{
                            color: var(--bs-white);
                        }
                    }
                }
            }
    
            &__redes{
                list-style: none;
                &-item{
                    height: 3rem;
                    width: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:var(--bs-white);
                    &:hover{
                        background: var(--spotify-gray-text);
                    }
                }
            }
    
            &__copyright{
                color: var(--spotify-gray-text);
                border-top: .05rem solid var(--spotify-gray-text);
                font-size: .95rem;
            }
        }
    }
    &-footer{grid-area: footer}
    &-aside{grid-area: aside}
}