*,*::after,*::before{
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    width: 100vw;    
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "aside header header header"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside footer footer footer"
    ;
    grid-template-rows: auto repeat(4,1fr) auto;
    grid-template-columns: auto repeat(3,1fr); 

    overflow-x: hidden;      
   
}

.spotify{
    &-header{grid-area: header}
    &-main{grid-area: main}
    &-footer{grid-area: footer}
    &-aside{grid-area: aside}
}



/*----------  MAIN GLOBALS  ----------*/
.spotify-main__cards{    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15.1rem,1fr));
    grid-auto-rows: minmax(10.1rem,15.4rem);
    
    &--fit{
        column-gap: .2rem;
        justify-content: start;
        overflow-x: auto;
        grid-auto-flow: column;
        grid-template-rows: 18.125rem;
        grid-auto-columns: minmax(10.2rem,12.25rem);

    }
    
    &-card{                
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        min-width: 10.2rem;
        max-width: 12.25rem;
        &--fit{
            background: var(--spotify-gray-card);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background .3s ;
            &:hover{
                background: var(--spotify-gray-card-active);
            }
        }

        &-img-small{
            height: 6.25rem;
            width: 6.25rem;
            position: absolute;
            right: -1.2rem;
            bottom: -.2rem;
            transform: rotate(25deg);
        }   
        &-img-fit{
            height: 9.25rem;
            width: 9.25rem;                                    
            
        }   
        
        &-body{
            &-author{
                font-size: 1rem;
                color:var(--spotify-gray-text);
            }
        }
    }
}

.spotify-main{
    &__section{
        &-title{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            &-link--small{
                text-decoration: none;
                font-size: .9rem;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    &-browser,&-top{
        background: var(--spotify-gray-main);        
    }   
}