<<<<<<< HEAD
@use 'mixins' as *;

/*=============================================
=            medias                           =
=============================================*/

/**
grid-breakpoints:
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/
@media (min-width: 768px) {
  #spotifyAsideHeader{
    width: auto;
    &:target{
      position: sticky;
    }
    &:target::before{
      display: block;
      position: fixed;
  }
  }
}
@media (min-width: 992px) {
  #spotifyAsideHeader{
    width: auto;
    display: block;    
  }
}


/*=====  End of medias  ======*/

=======
@use '../custom' as bootstrap;

@include bootstrap.media-breakpoint-down('md'){
    body{
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "footer footer footer footer"
        ;    
    }
} 

>>>>>>> 80c7faa (listo ya las mejoras estan)
