@use 'mixins' as *;
$gray-main: #121212;
$gray-text:#959595;
$gray-card: #181818;
$gray-card-active:#282828;


$arrayColors: (
    "gray-main":$gray-main,
    "gray-text":$gray-text,
    "gray-card":$gray-card,
    "gray-card-active":$gray-card-active
);

@include varsCreate(spotify,$arrayColors)